// margin-left 20
.ml-20 {
  margin-left: $base-margin;
}

.mt-20 {
  margin-top: $base-margin;
}

.mb-20 {
  margin-bottom: $base-margin;
}

.mr-20 {
  margin-right: $base-margin;
}

// BACKGROUND

.bg-white {
  background: white;
}


// bold
.bold {
  font-weight: bold;
}
